.portfolio-list {
    list-style-type: none;
    padding: 0;
}

.portfolio-list li {
    margin-bottom: 20px;
}

.portfolio-list a {
    color: #007bff;
    text-decoration: none;
}

.portfolio-list a:hover {
    text-decoration: underline;
}
.portfolio-list img {
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    border: 1px solid #ddd; /* Optional: Add a border */
    margin: 10px 0;
}
